/* Components */

.desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-left: 10px;
}
article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  width: 100%;
  max-width: 600px;
  margin: 20px auto; /* Center the item horizontally */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Clear floats */
}


img {
  border-radius: 8px;
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  justify-self: end;
  margin-right: 10px;
}
.remove{
  float: right;
  margin-right: 5px;
}
.progress{
  justify-self: start;
  margin-left: 5px;
}
button {
  grid-row-start: 2;
  padding: 15px 60px; 
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.remove-from-wishlist:hover,
.add-to-cart:hover {
  background-color: #555;
}

h1 h2{
  margin-top: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.checkout{
  font-weight: bold;
  font-size: large;
  text-align: center;
  display: grid;
  margin:auto;
  padding: 20px 70px;
}

.empty{
  text-align: center;
  font-size: xx-large;
}