@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

:root {
  --primary: #50394c;
  --secondary: #f18973;
  --accent: #ffef96;
  --background: #f9f6ee;
  --muted: #e2e2e2;
  --foreground: #232b2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Geologica", sans-serif;
  color: var(--foreground);
}

/* Font sizes */
h1 {
  font-size: 2rem;
  color: black;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

/* Line heights */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

/* Other styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

i.icon {
  font-family: "Material Icons";
  font-style: normal;
  vertical-align: bottom;
  font-feature-settings: "liga" 1;
}
