/* CSS for the table */
h1{
    margin-top: 2rem; 
}

table {
    width: 85%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

.button{
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Additional styles for the page layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

section {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

button[type="submit"] {
    font-size: 1.1rem;
    font-family: "Geologica", sans-serif;
    padding: 12px 40px;
    width: auto;
    background: var(--primary);
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    clear: right;
    transition: 0.2s ease all;
}
button[type="submit"]:active {
    background-color: var(--secondary);
    opacity: 0.8; 
}